.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.page {
  position: relative;
  top: 10vh;
}
